<!-- BEANWEB Body Template -->
  <body>
    <div id="wrap">
     <div class="container">
      <%@BODY_MENU@%>
      
      <div id="bwpanel">
        <%@BODY_DATA@%>
      </div>
      
      <!-- Modal -->
      <div class="modal fade" id="bwmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      </div><!-- /.modal -->
     </div> <!-- /container -->
    </div>
    
    <%@BODY_FOOTER@%>
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%@BODY_SCRIPTS@%>
  </body>
