<!-- BEANWEB Welcome Template -->
      <div id="bw-dialog-message" class="fade"></div>
      <div class="jumbotron">
        <h1>BeanWeb Cloud Edition</h1>
        <!-- <p>Gerenciamento de Recursos e Produtividade.</p> -->
        <p>
        A maneira mais simples de acompanhar as atividades de seus
        colaboradores na sua empresa, agora disponível onde você estiver.
        </p>
        <p> 
          <a href="http://cloud.beanweb.com.br/bwcloud-current.exe">Clique aqui</a> 
          para baixar o agente que deve ser instalado nas suas 
          estações de trabalho.
        </p>
       
        <small><p><%@MESSAGE1@%></p></small>
        <small><p><%@MESSAGE2@%></p></small>
        <small><p><%@MESSAGE3@%></p></small>
      </div>
